.footer {
    display: flex;
    background-color: white;
    max-width: 1440px;
}
.footer_all {
    margin: 0 auto; 
    align-items: center;
    display: flex;
    padding: 80px 80px;
    column-gap: 50px;
}
.footer_info {
    display: flex;
    flex-direction: column;
}
.p_footer {
    font-family: var(--font_add);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.info_footer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer_text {
    font-family: 'UAF Memory', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    flex-wrap: wrap;
    margin-left: 20px;
}
.socialmedia {
    margin-left: 40px;
    margin-top: 10px;
}